Source: libapache2-mod-realdoc
Priority: extra
Maintainer: Sven Hoexter <sven@timegate.de>
Build-Depends: debhelper (>= 9), apache2-dev
Standards-Version: 3.9.6
Section: web
Homepage: https://github.com/etsy/mod_realdoc
#Vcs-Git: https://github.com/etsy/mod_realdoc.git

Package: libapache2-mod-realdoc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Apache module to lookup the realpath of your DocumentRoot
 This Apache module is a helper to allow you to use a symlink as
 your DocumentRoot. It will lookup the absolute path at a given interval
 and use that as the real document root for the remainder of the request.
 With this module you can implement atomic deployments of php applications
 without having to gracefully restart Apache on every deployment.
